body {
    font-family: monospace;
    font-size: 18px;
    background-color: #11183b;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
    color: white;
}

.main {
    margin-top: 80px;
}

.navlink {
    color: white;
    text-decoration: none;
}

.navlink:visited,
.navlink:active {
    color: white;
}

.navlink:hover {
    color: #d0d0d0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 200px);
    background-color: #3b426a;
    z-index: 1000;
    border-radius: 50px;
    top: 20px;
    left: 20px;
    right: 20px;

    max-width: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
}

.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.section {
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
}

#aboutSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.aboutText {
    flex: 1;
    border-left: 2px solid white;
    padding-left: 20px;
}